/*====================== 404 page =======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;

  img{
    width: 100%;
  }
  .four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;

    h1{
      font-size: clamp(2.5rem, 8vw, 5rem);
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 30px 0;
      position: relative;
      display: inline-block;
      animation: titleFloat 3s
      ease-in-out infinite;
      text-shadow: 0 1px 0 #dcd435, 0 2px 0 #dcd435, 0 3px 0 #dcd435, 0 4px 0 #dcd435, 0 5px 0 #dc3545, 0 6px 1px #dc3545, 0 0 5px #dc3545, 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
  }
  .contant_box_404{
    margin-top: -50px;
    h3{
      font-size: clamp(2.5rem, 8vw, 5rem);
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 30px 0;
      position: relative;
      display: inline-block;
      animation: titleFloat 3s
      ease-in-out infinite;
      text-shadow: 0 1px 0 #008080, 0 2px 0 rgba(0, 128, 128, 0.9), 0 3px 0 rgba(0, 128, 128, 0.73), 0 4px 0 #008080, 0 5px 0 #dc3545, 0 6px 1px #dc3545, 0 0 5px #dc3545, 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
