.suitepress-theme-footer{
  background: $theme__primary-color;
  padding-top: 3rem;
  align-content: center;
  height: 550px;

  .copywrite-section-suitepress{
    border-top: 1px solid $white;
    padding: 1.5rem 0;
    color: $white;
  }

  .social-links{
    padding: 1rem 0;
    i{
      font-size: 25px;
      margin-right: 1rem;
      color: $white;
      cursor: pointer;
    }
  }

  .footer-widget{
    .footer-widget-title{
      font-weight: 500;
      color: $white;
      font-size: 20px;
    }
    ul{
      list-style: none;

      li{
        margin-bottom: .6rem;

        a{
          font-size: 16px;
          font-weight: normal;
          color: $white;
          text-decoration: none;
        }

        :hover {
            background: $theme__link-color;
            padding: .3rem .5rem;
        }
      }
    }
  }
  .widget_nav_menu{
    ul{
      list-style: none;
      display: flex;
      gap: 1rem;

      li{
        margin-bottom: .6rem;

        a{
          font-size: 16px;
          font-weight: normal;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}


@media only screen and (max-width: 999px) {
  .suitepress-theme-footer{

    .footer-widget {
      .footer-widget-title {
        border-bottom: 1px solid;
        margin-bottom: 1rem;
      }
    }
    .row{
      text-align: center;
    } .widget_nav_menu ul {
        display: flex;
        gap: 0;
        flex-direction: column;
        margin-top: 1rem;
      }
  }
}
