#posts_carousel_home{

  background: $white;
  min-height: 650px;
  align-content: center;
  padding: 2rem 0;

  .post-carousel-container{

    .post-carousel-wrapper{

      .posts-carousel{


      }
    }
  }
}
