.sp-technical-support-container{

  background: rgba(0, 128, 128, 0.10);
  min-height: 650px;
  align-content: center;
  padding: 2rem 0;

  .sp-information-wrapper{

    .sp-information-card-wrapper{

      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1rem;
      margin: 1rem 0;

      .sp-information-card{

        background: $white;
        box-shadow: 0px 4px 25px 0px rgba(105, 105, 132, 0.2);
        border-radius: 5px;
        padding: 1rem;
        text-align: left;
        height: 340px;
        align-content: center;

        i{
          font-size: 30px;
          color: $white;
          background: $theme__secondary-color;
          padding: .6rem;
          border-radius: 5px;
        }

        p{

        }

        .small-title{
          font-size: 20px;
          font-weight: 600;
          padding: .6rem 0;
        }
      }

      .sp-information-card:nth-child(2){
        text-align: center;
        background: $theme__secondary-color;
        color: $white;
      }
      .sp-information-card:nth-child(2) i{
        color: $theme__secondary-color;
        background: $white;
      }
      .sp-information-card:nth-child(1), .sp-information-card:nth-child(3){
        height: 250px;
        margin-top: 2.5rem;
      }

    }


  }

}

/* Responsive Styles */

/* Tablet (601px - 1024px) */
@media (max-width: 1024px) {
  .sp-technical-support-container .sp-information-wrapper .sp-information-card-wrapper{
    grid-template-columns: repeat(3,1fr);
  }
}

/* Mobile (up to 600px) */
@media (max-width: 600px) {
  .sp-technical-support-container .sp-information-wrapper .sp-information-card-wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .sp-information-card:nth-child(1), .sp-information-card:nth-child(3){
    height: 340px;
    margin-top: 0rem!important;
  }
}
