//color variable
@import "0-settings/colors";

// heading scss
@import "6-blocks/heading-with-icons";
@import "6-blocks/buttons";
@import "6-blocks/description";
@import "6-blocks/according";
@import "6-blocks/image-slider";
@import "6-blocks/download-button";
